<html>
<head>
<title>
Chat
</title>

<link rel="stylesheet" href="http://cdn.jsdelivr.net/highlight.js/9.4.0/styles/default.min.css">
<script src="http://cdn.jsdelivr.net/highlight.js/9.4.0/highlight.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<style>
	#nickWrap{
		position: absolute;
		left: 35%;
		top: 30%;
	}
	#chat{
		height:500px;
	}
	#contentWrap{
		display: none;
	}
	#chatWrap{
		width: 500px;
		height: 500px;
		float: left;
		border: 1px black solid;
		overflow-y: scroll;
	}
	#nickname{
		height:27px;
	}
	#message{
		height:27px;
	}
</style>

</head>

<body>

<div id="nickWrap">
	<p>Enter a username:</p>
	<p id="nickError"></p>
	<form id="setNick">
		<input size="35" id="nickname"></input>
		<input type="submit"></input>
	</form>
</div>

<div id="contentWrap">
	<div id="chatWrap">
		<div id="chat"></div>
	</div>

		<form id="send">
			<input size="50" id="message"></input>
			<input type="submit"></input>
		</form>
		<textarea rows="4" cols="50" id="codespace" form="send"></textarea>

	<div id="users"></div>
</div>


<script>
	jQuery(function($){
		var socket = io.connect();
		var $messageForm = $('#send');
		var $messageBox = $('#message');
		var $chat = $('#chat');
		var $nickForm = $('#setNick');
		var $nickError = $('#nickError');
		var $nickBox = $('#nickname');
		var $code = $('#codespace');

		$nickForm.submit(function(e){
			e.preventDefault();
			socket.emit('new user',$nickBox.val(),function(data){
				if (data==true){
					$('#nickWrap').hide();
					$('#contentWrap').show();
				}
				else{
					$nickError.html('That username is already taken!');
				}
			});
			$nickBox.val('');
		});

		socket.on('usernames',function(data){
			var html = '';
			for (var i=0;i<data.length;i++){
				html+=(data[i]+'<br>');
			}
			$('#users').html(html);
		});

		$messageForm.submit(function(e){
			e.preventDefault();
			var msg = $messageBox.val();
			msg = msg.trim();
			if (msg.substr(0,2)==='//'){
				socket.emit('send-private-message',msg);
				if ($code.val()!=''){
					var ind = msg.indexOf(' ');
					var name;
					if (ind!=-1) name = msg.substr(0,ind);
					else name = msg.substr(0);
					var temp = name+' '+$code.val();
					//console.log(temp);
					socket.emit('send-private-code',temp);
				}
			}
			else{
				socket.emit('send-public-message',msg);
				msg = $code.val();
				socket.emit('send-public-code',msg);
				
			}
			$messageBox.val('');
			$code.val('');
		});

		function highlightCode(){
			var code = document.getElementsByTagName('pre');
			var l = code.length;
			for (var i=0; i < l; i++) {
				hljs.highlightBlock(code[i]);
			}
		}

		function parseCode(s){
			var pc = "";
			var l = s.length;
			for (var i=0;i<l;i++){
				if (s[i]=='<') pc+="&lt;";
				else if (s[i]=='>') pc+="&gt;";
				else pc+=s[i];
			}
			return pc;
		}
		
		socket.on('code message',function(data){
			//console.log(data.msg);
			var parsedCode = parseCode(data.msg);
			//console.log(parsedCode);
			$chat.append('<b>'+data.nick+'</b>: '+'<pre>' +parsedCode+'<br></pre>');
			highlightCode();
			chatWrap.scrollTop = chatWrap.scrollHeight;
		});

		socket.on('new message',function(data){
			$chat.append('<b>'+data.nick+'</b>: '+data.msg+'<br>');
			chatWrap.scrollTop = chatWrap.scrollHeight;
		});
	});
</script>

</body>
</html>
